.card-img-top {
  height: 30vh;
}

.card {
  min-height: 600px;
}

.card:hover {
  color: lightblue;
}

.card-title {
  text-align: center;
  font-size: 1.7em;
}

.card-text {
  text-align: center;
  font-size: 1.1em;
}

.message {
  text-align: center;
  font-size: 1.58em;
  /*font-style: italic;*/
  width: 80%;
  margin-left: 10%;
  font-weight: 300;
}

.headText {
  text-align: center;
  font-size: 2.7em;
  font-weight: 300;
}
