body {
  margin: 0;
  padding: 0;
  color: rgba(255, 255, 255, 0.8);
  background-color: rgba(0, 0, 0, 0.8);
}

nav .navbar-brand {
  color: rgba(255, 255, 255, 0.8) !important;
}

nav ul li {
  min-width: 100px;
  font-size: 20px;
}

nav ul li a {
  color: rgba(255, 255, 255, 0.8) !important;
}

nav ul li:hover {
  background-color: rgba(255, 255, 255, 0.3);
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

nav ul .active {
  border-bottom: 2px solid #a6fa84;
}

nav ul .active a {
  color: #a6fa84 !important;
}

.message-wrapper {
  margin: 5px;
  border: 1px solid white;
  padding: 5px;
  font-size: 24px;
  -webkit-box-shadow: 0px 0px 5px 5px rgba(255, 255, 255, 0.8);
          box-shadow: 0px 0px 5px 5px rgba(255, 255, 255, 0.8);
}

.card {
  background-color: rgba(0, 0, 0, 0.4) !important;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
  margin: 5px 0;
  min-height: 420px;
}

.card .card-title {
  color: #a6fa84;
  text-align: center;
}

.card .card-img-top {
  min-height: 150px;
}

.card:hover {
  color: #a6fa84;
}

.row {
  margin: 15px 0;
}

.jumbotron {
  background-color: transparent;
  padding: 0;
  margin: 0;
}

.jumbotron .display-5 {
  color: #a6fa84;
}

q {
  font-style: italic;
}

.carousel-item {
  background: no-repeat center center scroll;
  background-size: cover;
  min-height: 300px;
}

.carousel-caption {
  background-color: rgba(0, 0, 0, 0.3);
}

.carousel-caption p {
  color: white;
  text-shadow: 0px 0px 3px black;
  margin: 0;
  font-size: 24px;
}
